.tab-container {
    background-color: #c4c5c5;
}

div>ul.nav-tabs {
    display: inline-flex !important;
    background-color: unset !important;
    gap: unset !important;
}

.fs-16 {
    font-size: 16px;
}

.nav-tabs .nav-link {
    padding: 12px !important;
    border: unset !important;
    
}

.nav-tabs .nav-link.active {
    box-shadow: inset 0 calc(var(--c8y-nav-tabs-border-width-active) * -1) 0 0 #337fdd
}

.nav-tabs>li>a {
    box-shadow: unset !important;
}